main {
  min-height: 80vh;
}
h3 {
  padding: 1rem 0;
  font-size: 1rem;
  letter-spacing: 0;
}

h1 {
  padding: 1rem 0;
  font-size: 1.8rem;
}

h2 {
  padding: 0.5rem 0;
  font-size: 1.4rem;
}
.custom {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.product_screen_img {
  width: 26rem;
  height: 36rem;
}

.productDesc {
  text-transform: capitalize;
  text-align: justify;
}

.rating span {
  margin: 0.09rem;
}
