main {
  min-height: 80vh;
}
h3 {
  padding: 1rem 0;
  font-size: 1rem;
  letter-spacing: 0;
}

h1 {
  padding: 1rem 0;
  font-size: 1.8rem;
}

h2 {
  padding: 0.5rem 0;
  font-size: 1.4rem;
}

.rating span {
  margin: 0.09rem;
}
